Camelot==12.6.29
chardet==5.0.0
decorator==5.1.1
Elixir==0.7.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pbr==5.10.0
six==1.16.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.4.2
Tempita==0.5.2
xlrd==0.7.1
xlwt==0.7.2
